<div class="sidebar">
    <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="nav-icon fas fa-book"></i>
                    <p>
                        Rehber
                        <i class="fas fa-angle-left right"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="{% url  "add-company" %}" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Firma Ekle</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url  "index" %}" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Firma Listele</p>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="{% url  "index" %}" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Kişi Ekle</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url "list" %}" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Kişi Listele</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url "incoming-call" %}" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Arama Kaydı </p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url "outer-call" %}" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Kayıt Listele</p>
                        </a>
                    </li>

                </ul>
            </li>
        </ul>
    </nav>
    <!-- /.sidebar-menu -->
</div>