{% extends "base.html" %}
{% load static %}
{% block content %}


    <body>
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->


        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <!-- left column -->
                    <div class="col-md-6">
                        <!-- general form elements -->
                        <div class="card card-primary">
                            <div class="card-header">
                                <h3 class="card-title">Arama Kaydı Ekleme</h3>
                            </div>

                            <form method="POST">
                                {% csrf_token %}
                                <div class="card-body">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">İsim Soyisim</label>
                                      <input type="text" class="form-control" name="name" placeholder="İsim Soyisim">
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputPassword1">Açıklama</label>
                                        <input type="text" class="form-control" name="description"
                                               placeholder="Açıklama">
                                    </div>
                                    <div class="form-group">
                                        <label>Arama
                                            Türü</label>
{#                                             {{ form.choices_call_type }}


{#                                        <select class="form-control custom-select">#}

{#                                            <option selected disabled>Arama Türü</option>#}
{#                                            <option>Gelen</option>#}
{#                                            <option>Giden</option>#}
{#                                        </select>#}
                                    </div>

                                </div>
                                <!-- /.card-body -->

                                <div class="card-footer">
                                    <button type="submit" id="basicAlert" class="btn btn-primary">Ekle</button>
                                </div>
                            </form>
                        </div>


                    </div>
                    <!--/.col (left) -->
                    <!-- right column -->

                    <!--/.col (right) -->
                </div>
                <!-- /.row -->
            </div><!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>
    {% block script %}
        <script>
            const message = document.getElementById('basicAlert');
            message.addEventListener('click', messageAlert)

            function messageAlert() {
                Swal.fire({
                    position: 'center',
                    icon: 'success',
                    title: 'Başarılı',
                    showConfirmButton: false,
                    timer: 1500
                })
            }
        </script>

        <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    {% endblock %}
    </body>

{% endblock %}